*{
  margin: 0;
  padding: o;
}
.services {
  padding: 100px 20px;
  padding-bottom: 250px;
  background: #fff;
}

.container {
  max-width: 1100px;
  margin: auto;
  text-align: center;
}

.services h2 {
  font-size: 32px;
  margin-bottom: 40px;
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  padding: 30px;
  background: #f7f7f7;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  background: #eee;
}