.process {
  padding: 100px 20px;
  padding-bottom: 180px;
  background: #f9f9f9;
}

.steps {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-top: 40px;
}

.step {
  background: #fff;
  padding: 25px;
  border-radius: 10px;
}

.step span {
  font-size: 18px;
  font-weight: bold;
  color: #999;
}