.portfolio {
  padding: 100px 20px;
  padding-bottom: 180px;
  background: #fff;
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 40px;
}

.project {
  height: 200px;
  background: #ddd;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}