
.contact {
  padding: 100px 20px;
  padding-bottom: 180px;
  background: #fff;
}

form {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input, textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  padding: 12px;
  background: #000;
  color: #fff;
  border: none;
  cursor: pointer;
}